spring:
  application:
    name: notification-platform

  datasource:
    url: jdbc:postgresql://localhost:5432/notification_db
    username: notification_user
    password: notification_password
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate # Flyway가 테이블 관리를 전담하므로 validate 사용
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true # 기존 DB가 존재하더라도 Baseline 잡아주도록 (보기 편의상)
    locations: classpath:db/migration
